<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<h> Пользователи </h>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Password</th>
    <th>Mail</th>
    <th>Role</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <tr th:each="user : ${users}">
    <td th:utext="${user.id}"></td>
    <td th:utext="${user.username}"></td>
    <td th:utext="${user.password}"></td>
    <td th:utext="${user.mail}"></td>
    <td th:utext="${user.roles}"></td>
    <td> <a th:href="@{/admin/update/{id}(id=${user.id})}">edit</a></td>
    <td> <a th:href="@{admin/delete/{id}(id=${user.id})}">delete</a></td>
  </tr>
</table>
<br>
<form th:action="@{/admin/create}">
  <button type="submit">add new user</button>
</form>
<br>
<form th:action="@{/logout}" method="post">
  <button type="submit">Sign Out</button>
</form>
</body>
</html>
</body>
</html>