<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
    <input type="text" th:field="*{username}" id="name" placeholder="Имя"/>
    <br/>
    <input type="text" th:field="*{password}" id="password" placeholder="Пароль"/>
    <br/>
    <input type="text" th:field="*{mail}" id="mail" placeholder="Почта"/>
    <br/>
    <label for="role">Role</label>
    <select multiple class="select"
            size = "2"
            id="role" name="role">
        <option
                th:each="role : ${roles}"
                th:text="${role.getName()}"
                th:value="${role.name}">
        </option>
    </select>
    <br/>
    <input type = "submit" value = "Создать"/>
</form>
</body>
</html>