<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать</title>
</head>
<body>
<form th:method="POST" th:action ="@{/admin/update/{id}(id=${user.id})}" th:object = "${user}">
    <th><input readonly type="number" th:field="*{id}" id="id" placeholder="Идентификатор"></th>
    <br/>
    <input type="text" th:field="*{username}" id="name" placeholder="Имя"/>
    <br/>
    <input type="text" th:field="*{password}" id="password" placeholder="Пароль"/>
    <br/>

    <input type="text" th:field="*{mail}" id="mail" placeholder="Почта"/>
    <br/>
    <input type = "submit" value = "Редактировать"/>
</form>
</body>
</html>