<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<h> Пользователи </h>
<table border="1">
  <tr>
    <th>Идентификатор</th>
    <th>Имя</th>
    <th>Пароль</th>
    <th>Почта</th>
    <th>Роль</th>
    <th>Редактирование</th>
    <th>Удаление</th>
  </tr>

  <tr th:each="user : ${users}">
    <td th:utext="${user.id}"></td>
    <td th:utext="${user.username}"></td>
    <td th:utext="${user.password}"></td>
    <td th:utext="${user.mail}"></td>
    <td th:utext="${user.roles}"></td>
    <td> <a th:href="@{/admin/update/{id}(id=${user.id})}">Редатировать запись</a></td>
    <td> <a th:href="@{admin/delete/{id}(id=${user.id})}">Удалить запись</a></td>
  </tr>
</table>
<a th:href="@{/admin/create}">Создать нового пользователя</a>
</body>
</html>
</body>
</html>